* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/wp.jpg);
}

.main-container {
    display: flex;
    background-color: rgb(218, 198, 198);
    
    opacity: 0.85;
    min-width: 1000px;

    
}

.left-container {
    border-style: solid;
    border-right: none;
    height: 1000px;
    min-width: 350px;
    font-weight: bold;   
    position: sticky; 
}


.content-container {
    border-style: solid;
    min-width: 650px;
    min-height: 1000px;
}

.header {
    background-image: linear-gradient(black, orange );    
    min-width: 1000px;
    text-align: center;
    color: orange;
    padding: 10px;

}

.footer {
    background-image: linear-gradient(black, gray );    
    min-width: 1000px;
    text-align: center;
    color: white    ;
}

.left-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

li {
    list-style-type: none;

}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}

.zhtr {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    opacity: 1;
    
}